{% extends 'base.html'%}
{% load static %}
{% block title_block %} ShopOnline {% endblock %}
{% block body_block %}
<div class="container my-5">
  {% if subcategory %}
  <div class="row">
    {% if selected_subcategory %}
    <h3> Products of {{ selected_subcategory.title }}</h3>
    {% for product in subcategory_products %}

    <div class="col-md-6 col-sm-12 col-lg-3">
      <figure class="card card-product">
        <div class="img-wrap">
          <img src="{{product.mainimage.url}}" style="width:100%; height:300px;">
        </div>
        <figcaption class="info-wrap">
          <h5 class="title"><a href="{% url 'App_Products:single_product' pk=product.id %}">{{ product.name }}</a></h5>
       
          <div class="action-wrap">
            <div class="price-wrap h5">
            <span class="price-new">&#2547; {{product.price|floatformat:2}}</span>
            <span class="price-old"><strike>&#2547; {{product.old_price|floatformat:2}}</strike></span>
            </div>
          </div>
        </figcaption>
        
      </figure>
    </div>
 {% endfor %}
    {% endif %}
  </div>
</div>
  {% else %}
    <h2 class="my-5">Products of {{ category.title }}</h2>  
    <div class="row">
      {% for product in products %}

      <div class="col-md-6 col-sm-12 col-lg-3">
        <figure class="card card-product">
          <div class="img-wrap">
            <img src="{{product.mainimage.url}}" style="width:100%; height:300px;">
          </div>
          <figcaption class="info-wrap">
            <h5 class="title"><a href="{% url 'App_Products:single_product' pk=product.id %}">{{ product.name }}</a></h5>
         
            <div class="action-wrap">
              <div class="price-wrap h5">
              <span class="price-new">&#2547; {{product.price|floatformat:2}}</span>
              <span class="price-old"><strike>&#2547; {{product.old_price|floatformat:2}}</strike></span>
              </div>
            </div>
          </figcaption>
          
        </figure>
      </div>
   {% endfor %}
   {% endif %}
    </div>

  {% endblock %}