{% extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title_block%} Profile {%endblock%}
{% block body_block %}

<div class="col d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px; margin-top: 40px;">
        <div class="row g-0">
          <div class="col-md-4">
            {%if user.profile.image%}
            <img src="/media/{{user.profile.image}}" style="width:100%; height:200px;">
            {%else%}
          <img src="/media/default.png" style="width:100%; height:200px;"> 
        {%endif%}
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{customerId.profile.full_name}}</h4>
              <p class="card-text">Username : {{customerId.username}}</p>
              <p class="card-text">Email : {{customerId.email}}</p>
              <p class="card-text">Address : {{customerId.profile.address_1}}</p>
              <p class="card-text">City : {{customerId.profile.city}}</p>
              <p class="card-text">Country : {{customerId.profile.country}}</p>
              <p class="card-text">Contact : {{customerId.profile.phone}}</p>
              
            </div>
          </div>
          
        </div>
        <div class="card-footer text-muted">
            <div class="d-grid gap-2">
              <a href="{% url 'App_Accounts:profile_update' %}" class="btn btn-success">Update</a>
            </div>

          </div>
      </div>

</div>

    

{%endblock%}